<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
  	<rule name="rule 1G">
		<match url="^(.*)$"  ignoreCase="true" />
		<action type="Rewrite" url="/http://www.stuwork.com/{R:1}"  />
	</rule>
	<rule name="rule 2G" stopProcessing="true">
		<match url="^([^\.]+)$"  ignoreCase="true" />
		<action type="Rewrite" url="/{R:1}.html"  />
	</rule>
  </system.web>
</configuration>


